.relatedSmallArticle-grid {
  display: grid;
  grid-template-columns: repeat(4, var(--grid-column-width));
  gap: var(--grid-gap);
}
.relatedSmallArticle__img {
  grid-column: span 2;
  position: relative;
  min-height: 185px;
  max-height: 220px;
  overflow: hidden;
}
.relatedSmallArticle__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.relatedSmallArticle__body {
  grid-column: 3 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.relatedSmallArticle__category {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-accent);
  margin-bottom: 8px;
}
.relatedSmallArticle__title {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-primary);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 15px;
}
.relatedSmallArticle__source {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-grey);
}
