.articles {
  padding: 140px var(--container-padding) 0;
}

.articles__big-column {
  grid-column: span 9;
}

.articles__small-column {
  grid-column: 10/-1;
}

.small-article {
  display: block;
  margin-bottom: 35px;
  padding-left: 11px;
  border-left: 9px solid var(--color-primary);
  cursor: pointer;
}

.small-article:last-child {
  margin-bottom: 0;
}