.loginContainer {
  max-width: 500px;
  margin: 50px auto;
  background-color: var(--constant-grey-0);
  padding: 50px 20px;
  border-radius: 20px;
}

.oauthLoginContainer {
  margin-top: 30px;
  text-align: center;
}

.oauthLoginContainer__item {
  padding: 0 10px;
  font-size: 40px;
}
