.loginContainer {
  max-width: 500px;
  margin: 50px auto;
}

.oauthLoginContainer {
  margin-top: 30px;
  text-align: center;
}

.oauthLoginContainer__item {
  cursor: pointer;
  padding: 0 10px;
  font-size: 40px;
}
