.navigation__image {
  display: block;
  width: 100%;
  max-height: 90px;
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 60px;
}

.navigation__link {
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
}
