.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, var(--grid-column-width));
  gap: var(--grid-gap);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.header {
  padding-top: 38px;
  padding: 38px var(--container-padding) 0 var(--container-padding);
}

.header__navigation .navigation__link {
  color: var(--color-primary);
}

.header__navigation .navigation__link--active,
.header__navigation .navigation__link:hover {
  color: var(--color-accent);
}

.header__navigation .navigation__logo {
  grid-column: span 4;
  margin-right: 32px;
}

.header__navigation .navigation__list {
  grid-column: 5/-1;
}

.main {
  flex: 1 1 auto;
}

.footer {
  min-width: var(--container-width);
  padding: 22px var(--container-padding) 56px;
  background-color: var(--color-primary);
}

.footer__column {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__text {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-white);
}

.footer__link {
  color: var(--color-accent);
  font-weight: 700;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__copyright {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-grey);
}

.footer__navigation {
  margin-bottom: 47px;
  align-items: center;
}

.footer__logo {
  max-height: 34px;
}

.footer__navigation .navigation__logo {
  grid-column: span 2;
  margin-right: 56px;
}

.footer__navigation .navigation__list {
  padding-left: 50px;
  grid-column: 3/-1;
}

.footer__navigation .navigation__link {
  color: var(--color-white);
}

.footer__navigation .navigation__link--active,
.footer__navigation .navigation__link:hover {
  color: var(--color-accent);
}