<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta name="theme-color" content="#fff" />
    <meta name="color-scheme" content="light dark" />
    <meta property="og:site_name" content="KudaGo News" />
    <link
      rel="manifest"
      href="<%= require('./app/manifest.webmanifest') %>"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="<%= require('./images/favicon.svg') %>"
    />
    <link
      rel="apple-touch-icon"
      href="<%= require('./images/icons/icon192.png') %>"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://corsproxy.2923733-lt72291.twc1.net"
      crossorigin
    />
    <link
      rel="preconnect"
      href="https://media.kudago.com"
      crossorigin
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>KudaGo News</title>
  </head>

  <body>
    <div id="root"></div>
    <div id="overlay"></div>
  </body>
</html>
